<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund</title>
    <link rel="stylesheet" href="./css/layout.css">
    <script src="./js/jquery.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./js/process.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="info">
            <button id="btn_ConnectMM">Connect Meta Mask</button>
            <h3 id="currentAddress">...</h3>
        </div>
        <div id="install">
            Click <a target="_blank" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en">here</a> to install metamask
        </div>
        <div id="inputForm">
            <input type="button" id="btnSend" value="Send BNB"/>
        </div>
        <div id="listHS"></div>
    </div>
</body>
</html>