body{background-color: bisque;}
#wrapper{width: 80%; margin: auto;}
#info, #inputForm, #listHS, #install{width: 100%; min-height: 50px; background: whitesmoke; margin: 5px; text-align: center; padding: 10px;}